<div class="mstream-main-block">
<div class="row m-0">
    <div class="col-md-4 chat-left-col">
      

    <mat-tab-group>
        <mat-tab label="Important">
            <div class="for-chat-height">
            <div class="chat-area chat-left-area">
                <div class="row conv-row read-row m-0" (click)="readConversation=true;selectChat(1,'@Abhijit NS')" >
                    <div class="col-md-1 col-1 pl-2 align-self-center">
                        <div class="profile-name-outer-box">
                            <div class="profile-name-inner-box"><img src="../../assets/img/1.png"><div class="display-online"></div></div></div>
                        </div>
                    <div class="col-md-11 col-11 pl25 align-self-center">
                        <div class="p-relative"><h6 class="prof-name">@Abhijit NS</h6 > <p class="chat-right-box"><span class="chat-time">10.24 AM</span></p></div>
                        <div class="display-msg "><p>Did you guys finalise something?</p></div>
                    </div>
                </div>
    
                <div class="row conv-row unread-row m-0">
                    <div class="col-md-1 col-1 pl-2 align-self-center">
                        <div class="profile-name-outer-box">
                            <div class="profile-name-inner-box"><img src="../../assets/img/2.png"><!----></div></div>
                        </div>
                        <div class="col-md-11 col-11 pl25 align-self-center">
                            <div class="p-relative"><h6 class="prof-name">@Krupesh Bhat</h6 > <p class="chat-right-box"><span class="chat-time">10.24 AM</span></p></div>
                            <div class="display-msg "><p>Did you guys finalise something?</p><span class="badge unread-count">1</span></div>
                        </div>
                </div>
                <div class="row conv-row unread-row m-0" (click)="openChat();">
                    <div class="col-md-1 col-1 pl-2 align-self-center">
                        <div class="profile-name-outer-box no-pic">
                            <div class="profile-name-inner-box">
                                AK <div class="display-online"></div>
                            </div></div>
                        </div>
                        <div class="col-md-11 col-11 pl25 align-self-center">
                            <div class="p-relative"><h6 class="prof-name">Ashok Kadsur</h6 > <p class="chat-right-box"><span class="chat-time">FEB 20</span></p></div>
                            <div class="display-msg "><p>FYI ----- Forwarded message ----- From: Drive like a pro</p></div>
                        </div>
    
                </div>
                <div class="row conv-row unread-row m-0" >
                    <div class="col-md-1 col-1 pl-2 align-self-center">
                        <div class="profile-name-outer-box no-pic">
                            <div class="profile-name-inner-box ">
                               J <div class="display-online"></div>
                            </div></div>
                        </div>
                        <div class="col-md-11 col-11 pl25 align-self-center">
                            <div class="p-relative"><h6 class="prof-name">#DNPL</h6> <p class="chat-right-box"><i class="fa fa-paperclip attachment"></i><span class="chat-time">FEB 19</span></p></div>
                                <div class="display-msg "><p>Did you guys finalise something?</p></div>
                        </div>
    
                </div>
                <div class="row conv-row read-row m-0" (click)='selectChat(2,"#Melento - brainstorming")'>
                    <div class="col-md-1 col-1 pl-2 align-self-center">
                        <div class="profile-name-outer-box">
                            <div class="profile-name-inner-box"><img src="../../assets/img/1.png"><div class="display-online"></div></div></div>
                        </div>
                    <div class="col-md-11 col-11 pl25 align-self-center">
                        <div class="p-relative"><h6 class="prof-name">#Melento - brainstorming</h6 > <p class="chat-right-box"><span class="chat-time">10.24 AM</span></p></div>
                        <div class="display-msg "><p>Did you guys finalise something?</p></div>
                    </div>
                </div>
    
                <div class="row conv-row unread-row m-0">
                    <div class="col-md-1 col-1 pl-2 align-self-center">
                        <div class="profile-name-outer-box">
                            <div class="profile-name-inner-box"><img src="../../assets/img/2.png"><!----></div></div>
                        </div>
                        <div class="col-md-11 col-11 pl25 align-self-center">
                            <div class="p-relative"><h6 class="prof-name">@Krupesh Bhat</h6 > <p class="chat-right-box"><span class="chat-time">10.24 AM</span></p></div>
                            <div class="display-msg "><p>Did you guys finalise something?</p><span class="badge unread-count">1</span></div>
                        </div>
                </div>
                <div class="row conv-row unread-row m-0">
                    <div class="col-md-1 col-1 pl-2 align-self-center">
                        <div class="profile-name-outer-box">
                            <div class="profile-name-inner-box">
                                <i class="fa fa-users user-icon"></i>
                            </div></div>
                        </div>
                        <div class="col-md-11 col-11 pl25 align-self-center">
                            <div class="p-relative"><h6 class="prof-name">#DNPL</h6 > <p class="chat-right-box"><span class="chat-time">FEB 20</span></p></div>
                            <div class="display-msg "><p>Did you guys finalise something?</p></div>
                        </div>
    
                </div>
                <div class="row conv-row unread-row m-0">
                    <div class="col-md-1 col-1 pl-2 align-self-center">
                        <div class="profile-name-outer-box no-pic">
                            <div class="profile-name-inner-box ">
                               J <div class="display-online"></div>
                            </div></div>
                        </div>
                        <div class="col-md-11 col-11 pl25 align-self-center">
                            <div class="p-relative"><h6 class="prof-name">#DNPL</h6> <p class="chat-right-box"><i class="fa fa-paperclip attachment"></i><span class="chat-time">FEB 19</span></p></div>
                                <div class="display-msg "><p>Did you guys finalise something?</p></div>
                        </div>
    
                </div> <div class="row conv-row read-row m-0">
                    <div class="col-md-1 col-1 pl-2 align-self-center">
                        <div class="profile-name-outer-box">
                            <div class="profile-name-inner-box"><img src="../../assets/img/1.png"><div class="display-online"></div></div></div>
                        </div>
                    <div class="col-md-11 col-11 pl25 align-self-center">
                        <div class="p-relative"><h6 class="prof-name">@Abhijit NS</h6 > <p class="chat-right-box"><span class="chat-time">10.24 AM</span></p></div>
                        <div class="display-msg "><p>Did you guys finalise something?</p></div>
                    </div>
                </div>
    
                <div class="row conv-row unread-row m-0">
                    <div class="col-md-1 col-1 pl-2 align-self-center">
                        <div class="profile-name-outer-box">
                            <div class="profile-name-inner-box"><img src="../../assets/img/2.png"><!----></div></div>
                        </div>
                        <div class="col-md-11 col-11 pl25 align-self-center">
                            <div class="p-relative"><h6 class="prof-name">@Krupesh Bhat</h6 > <p class="chat-right-box"><span class="chat-time">10.24 AM</span></p></div>
                            <div class="display-msg "><p>Did you guys finalise something?</p><span class="badge unread-count">1</span></div>
                        </div>
                </div>
                <div class="row conv-row unread-row m-0">
                    <div class="col-md-1 col-1 pl-2 align-self-center">
                        <div class="profile-name-outer-box">
                            <div class="profile-name-inner-box">
                                <i class="fa fa-users user-icon"></i>
                            </div></div>
                        </div>
                        <div class="col-md-11 col-11 pl25 align-self-center">
                            <div class="p-relative"><h6 class="prof-name">#DNPL</h6 > <p class="chat-right-box"><span class="chat-time">FEB 20</span></p></div>
                            <div class="display-msg "><p>Did you guys finalise something?</p></div>
                        </div>
    
                </div>
                <div class="row conv-row unread-row m-0">
                    <div class="col-md-1 col-1 pl-2 align-self-center">
                        <div class="profile-name-outer-box no-pic">
                            <div class="profile-name-inner-box ">
                               J <div class="display-online"></div>
                            </div></div>
                        </div>
                        <div class="col-md-11 col-11 pl25 align-self-center">
                            <div class="p-relative"><h6 class="prof-name">#DNPL</h6> <p class="chat-right-box"><i class="fa fa-paperclip attachment"></i><span class="chat-time">FEB 19</span></p></div>
                                <div class="display-msg "><p>Did you guys finalise something?</p></div>
                        </div>
    
                </div>
                <div class="row conv-row unread-row m-0">
                    <div class="col-md-1 col-1 pl-2 align-self-center">
                        <div class="profile-name-outer-box">
                            <div class="profile-name-inner-box"><img src="../../assets/img/2.png"><!----></div></div>
                        </div>
                        <div class="col-md-11 col-11 pl25 align-self-center">
                            <div class="p-relative"><h6 class="prof-name">@Krupesh Bhat</h6 > <p class="chat-right-box"><span class="chat-time">10.24 AM</span></p></div>
                            <div class="display-msg "><p>Did you guys finalise something?</p><span class="badge unread-count">1</span></div>
                        </div>
                </div>
           
        </div>    
    </div>
        
        </mat-tab>
        <mat-tab label="External"> Content 2 </mat-tab>
        <mat-tab label="Minsta"> Content 3 </mat-tab>
      </mat-tab-group>
</div>

    <div class="p-0 col-md-5" [ngClass]="displayTopics?'col-md-5 center-section':'col-md-8'" *ngIf="chatOpen">
<div class="chat-area chat-right-area">
        <div class="row chat-header-row m-0">
            <div class="col-md-6 col-5 align-self-center">
              <h3 title="@Abhijit  NS">{{openedChatName}}</h3>
            </div>
            <div class="col-md-6 col-7 mail-option-block align-self-center">
                <ul>
                    <li (click)="showTopicsSidebar()" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34">
                            <g id="Group-10134" data-name="Group 10134" transform="translate(-0.234 0)">
                              <rect id="Rectangle-303" data-name="Rectangle 303" width="10" height="10" rx="1" transform="translate(0.234 0)" fill="#ffdd26"/>
                              <rect id="Rectangle-308" data-name="Rectangle 308" width="10" height="10" rx="1" transform="translate(0.234 12)" fill="#ff5e65"/>
                              <rect id="Rectangle-312" data-name="Rectangle 312" width="10" height="10" rx="1" transform="translate(0.234 24)" fill="#80b9ff"/>
                              <g id="Group-10135" data-name="Group 10135" transform="translate(13.069 2)">
                                <rect id="Rectangle-304" data-name="Rectangle 304" width="9" height="2" rx="1" transform="translate(0.165)" fill="#6e5eb7"/>
                                <rect id="Rectangle-306" data-name="Rectangle 306" width="21" height="2" rx="1" transform="translate(0.165 4)" fill="#6e5eb7"/>
                              </g>
                              <g id="Group-10136" data-name="Group 10136" transform="translate(13.069 14)">
                                <rect id="Rectangle-315" data-name="Rectangle 315" width="9" height="2" rx="1" transform="translate(0.165)" fill="#6e5eb7"/>
                                <rect id="Rectangle-313" data-name="Rectangle 313" width="21" height="2" rx="1" transform="translate(0.165 4)" fill="#6e5eb7"/>
                              </g>
                              <g id="Group-10137" data-name="Group 10137" transform="translate(13.069 26)">
                                <rect id="Rectangle-318" data-name="Rectangle 318" width="9" height="2" rx="1" transform="translate(0.165)" fill="#6e5eb7"/>
                                <rect id="Rectangle-316" data-name="Rectangle 316" width="21" height="2" rx="1" transform="translate(0.165 4)" fill="#6e5eb7"/>
                              </g>
                            </g>
                          </svg>
                          
                    </li>
                    <li >
                        <svg xmlns="http://www.w3.org/2000/svg" width="26.402" height="29.65" viewBox="0 0 26.402 29.65"><defs><style>.a{fill:#80b9ff;}</style></defs><g transform="translate(0 0)"><path class="a" d="M52.284,2.16a7.394,7.394,0,0,0-10.445,0l-11,11a.869.869,0,0,0,1.229,1.229l11-11a5.785,5.785,0,0,1,7.988,0,5.655,5.655,0,0,1,0,7.987L35.7,26.906a3.558,3.558,0,0,1-4.916,0,3.479,3.479,0,0,1,0-4.915L45.525,7.074a1.335,1.335,0,0,1,1.843,0,1.306,1.306,0,0,1,0,1.844l-14.127,14.3a.969.969,0,0,0,0,1.229.869.869,0,0,0,1.229,0L48.6,10.147a3.044,3.044,0,0,0,0-4.3,3.115,3.115,0,0,0-4.3,0L29.554,20.762a5.248,5.248,0,0,0,0,7.372,5.241,5.241,0,0,0,7.373,0L52.284,12.6A7.393,7.393,0,0,0,52.284,2.16Z" transform="translate(-28.041 0)"/></g></svg>
                    </li>
                    <li >
                      <div class="option-outerblock">
                        <span class="btn-group option-innerblock" dropdown
                        placement="bottom left">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28.555" height="6" viewBox="0 0 28.555 8">
                            <path id="Combined-Shape" data-name="Combined Shape" d="M22.556,3a3,3,0,1,1,3,3A3,3,0,0,1,22.556,3ZM11.278,3a3,3,0,1,1,3,3A3,3,0,0,1,11.278,3ZM0,3A3,3,0,1,1,3,6,3,3,0,0,1,0,3Z" fill="#c7c9d0"/>
                          </svg>
                                                  </span>

                      </div>

                    </li>

                </ul>
            </div>
        </div>
        <div class="chat-conv-section">
            <div class="" *ngIf="showChat===1">
    <div class="conv-block">
        <div class="top-chat-time">30 Sep 2019</div>    
      

        <div class="row incoming-conv-chat conv-rows m-0">
            <div class="col-md-1 col-3 prof-pic-section">
                <div class="profile-name-outer-box">
                    <div class="profile-name-inner-box"><img src="../../assets/img/1.png"></div></div>
                </div>
            <div class="col-md-11 col-9 pl-0">
            <h3>Abhijit NS</h3> <span class="chat-time">6.09 PM</span>
            <p>Change the seconddary CTA in first Pop up</p>
            <p>I hope you have used the same content from the document</p>
            
            </div>
        </div>
        <div class="row yourend-conv-chat conv-rows m-0">
            <div class="col-md-1 col-3 prof-pic-section">
                <div class="profile-name-outer-box">
                    <div class="profile-name-inner-box"><img src="../../assets/img/2.png"></div></div>
                </div>
            <div class="col-md-11 col-9 pl-0">
            <h3>You</h3> <span class="chat-time">6.09 PM</span>
            <p>Yes</p>
            
            </div>
        </div>
    </div>
    
    <div class="conv-block">
        <div class="top-chat-time">Today</div>    
      

        <div class="row incoming-conv-chat conv-rows m-0">
            <div class="col-md-1 col-3 prof-pic-section">
                <div class="profile-name-outer-box">
                    <div class="profile-name-inner-box"><img src="../../assets/img/1.png"></div></div>
                </div>
            <div class="col-md-11 col-9 pl-0">
            <h3>Abhijit NS</h3> <span class="chat-time">6.09 PM</span>
            <p>Hey</p>
            <p>What happened to the fireframe?</p>
            <p>Did you guys finalise something?</p>
            
            </div>
        </div>
        <div class="row yourend-conv-chat conv-rows m-0">
            <div class="col-md-1 col-3 prof-pic-section">
                <div class="profile-name-outer-box">
                    <div class="profile-name-inner-box"><img src="../../assets/img/2.png"></div></div>
                </div>
            <div class="col-md-11 col-9 pl-0">
            <h3>You</h3> <span class="chat-time">6.09 PM</span>
            <p>Still working on it</p>
            <p  class="attached-link"><a href="www.facebook.com">https://xd.adobe.com/view/6d2f2c70-d313-4f13-7659-2f0531a9ef06-1b1e/?fullscreen</a></p>
            <div class="attached-img"><img  src="../../assets/img/1.png"></div>
            
            </div>
        </div>
    </div>
    </div>
    <div class="group-conv-section" *ngIf="showChat===2">
        <div class="conv-main-topic row m-0">
            <div class="col-4 pl-0">
                <div class="row incoming-conv-chat conv-rows m-0">
                    <div class="col-md-2 col-3 prof-pic-section">
                        <div class="profile-name-outer-box">
                            <div class="profile-name-inner-box"><img src="../../assets/img/2.png"></div></div>
                        </div>
                    <div class="col-md-10 col-9 messager-name-time-section">
                    <h3>Krupesh Bhat</h3> <div class="chat-time">8 JUN 2020 5.56 PM</div>
                    </div>
                </div>
            </div>
            <div class="col-6 main-topic-header">Data from G Suite</div>
            <div class="col-2 text-right m-auto"><svg xmlns="http://www.w3.org/2000/svg" width="28.555" height="6" viewBox="0 0 28.555 8">
                <path id="Combined-Shape" data-name="Combined Shape" d="M22.556,3a3,3,0,1,1,3,3A3,3,0,0,1,22.556,3ZM11.278,3a3,3,0,1,1,3,3A3,3,0,0,1,11.278,3ZM0,3A3,3,0,1,1,3,6,3,3,0,0,1,0,3Z" fill="#c7c9d0"/>
              </svg></div>
            </div>
              <div class="col-12 message-content-section pt-4">
                <p class="main-message-text">Data from G Suite core services (for example, Gmail, Google contacts, and Google Docs) will be exported for all users in our organisation.</p>
                <img class="attached-image" src="../../assets/img/conv-image.png">
                <p class="people-mentioned pt-2">Vinaya & Guru - FYI</p>
                <!-- <div class="comment-row row m-0">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">2 Comments</div>
                    <div class="col-md-4 text-right">REPLY</div>
                </div> -->
              </div>
              
        
    </div>
       </div>
       <div class="options-sidenav"  *ngIf="showSideNav===10">
        <div class="task-option" matTooltip="Task" matTooltipPosition="right" matTooltipClass="custom-tooltip">
                <svg version="1.1" id="Layer-1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 58.6 70.7" style="enable-background:new 0 0 58.6 70.7;" xml:space="preserve" height="35" width="35">
             <style type="text/css">
               .st0-0{fill:#FFFFFF;}
               .st0-1{fill:#4066E8;}
               .st0-2{fill:#324A5E;}
               .st0-3{fill:#CED5E0;}
               .st0-4{fill:#EA6969;}
             </style>
             <g>
               <circle id="Ellipse-82" class="st0-0" cx="39.2" cy="40.2" r="9.7"/>
               <path id="Path-4245-2" class="st0-1" d="M41.4,40.2c0,3.5,1.9,6.7,4.9,8.4c1.5,0.9,3.2,1.3,4.9,1.3V67c0,2-1.6,3.7-3.7,3.7H3.7
                 C1.6,70.7,0,69,0,67c0,0,0,0,0,0V13.4c0-2,1.6-3.7,3.7-3.7h43.8c2,0,3.7,1.6,3.7,3.7v17.1c-1.7,0-3.4,0.4-4.9,1.3
                 C43.3,33.5,41.4,36.7,41.4,40.2z"/>
               <path id="Path-4246" class="st0-0" d="M48.4,40.3c0,3.5-5.1,6.6-2.1,8.4v15.9c0,0.7-0.5,1.2-1.2,1.2c0,0,0,0,0,0h-39
                 c-0.7,0-1.2-0.5-1.2-1.2l0,0V15.8c0-0.7,0.5-1.2,1.2-1.2l0,0h39c0.7,0,1.2,0.5,1.2,1.2c0,0,0,0,0,0v15.9
                 C43.3,33.5,48.4,36.8,48.4,40.3z"/>
               <path id="Path-4247" class="st0-2" d="M39,9.7v4.9c0,1.3-1.1,2.4-2.4,2.4H14.6c-1.3,0-2.4-1.1-2.4-2.4V9.7c0-1.3,1.1-2.4,2.4-2.4h3.7
                 c0-4,3.3-7.3,7.3-7.3c4,0,7.3,3.3,7.3,7.3h3.7C37.9,7.3,39,8.4,39,9.7z"/>
               <path id="Path-4248" class="st0-0" d="M25.6,7.3c-0.7,0-1.2-0.5-1.2-1.2c0,0,0,0,0,0c0-0.2,0-0.3,0.1-0.5c0.1-0.1,0.1-0.3,0.3-0.4
                 c0.5-0.5,1.2-0.5,1.7,0c0.1,0.1,0.2,0.3,0.3,0.4c0.1,0.1,0.1,0.3,0.1,0.5C26.8,6.8,26.3,7.3,25.6,7.3C25.6,7.3,25.6,7.3,25.6,7.3
                 L25.6,7.3z"/>
               <g id="Group-10508" transform="translate(10.963 24.361)">
                 <path id="Path-4249" class="st0-3" d="M1.2,2.4h19.5c0.7,0,1.2-0.5,1.2-1.2S21.4,0,20.7,0H1.2C0.5,0,0,0.5,0,1.2S0.5,2.4,1.2,2.4
                   L1.2,2.4z"/>
                 <path id="Path-4250" class="st0-3" d="M20.7,6.1H1.2C0.5,6.1,0,6.6,0,7.3s0.5,1.2,1.2,1.2l0,0h19.5c0.7,0,1.2-0.5,1.2-1.2
                   S21.4,6.1,20.7,6.1z"/>
                 <path id="Path-4251" class="st0-3" d="M17.1,12.2H1.2c-0.7,0-1.2,0.5-1.2,1.2c0,0.7,0.5,1.2,1.2,1.2l0,0h15.8c0.7,0,1.2-0.5,1.2-1.2
                   C18.3,12.7,17.7,12.2,17.1,12.2z"/>
                 <path id="Path-4252" class="st0-3" d="M17.1,18.3H1.2c-0.7,0-1.2,0.5-1.2,1.2c0,0.7,0.5,1.2,1.2,1.2l0,0h15.8c0.7,0,1.2-0.5,1.2-1.2
                   C18.3,18.8,17.7,18.3,17.1,18.3z"/>
                 <path id="Path-4253" class="st0-3" d="M19.5,24.4H1.2c-0.7,0-1.2,0.5-1.2,1.2c0,0.7,0.5,1.2,1.2,1.2l0,0h18.3c0.7,0,1.2-0.5,1.2-1.2
                   C20.7,24.9,20.2,24.4,19.5,24.4z"/>
                 <path id="Path-4254" class="st0-3" d="M13.4,30.5H1.2C0.5,30.5,0,31,0,31.7c0,0.7,0.5,1.2,1.2,1.2l0,0h12.2c0.7,0,1.2-0.5,1.2-1.2
                   C14.6,31,14.1,30.5,13.4,30.5z"/>
               </g>
               <path id="Path-4255" class="st0-0" d="M34.1,14.6H17.1c-0.7,0-1.2-0.5-1.2-1.2c0-0.7,0.5-1.2,1.2-1.2h17.1c0.7,0,1.2,0.5,1.2,1.2
                 C35.3,14.1,34.8,14.6,34.1,14.6C34.1,14.6,34.1,14.6,34.1,14.6L34.1,14.6z"/>
               <g id="Group-10509" transform="translate(19.67 20.707)">
                 <path id="Path-4256" class="st0-4" d="M38.8,22c0.1-0.8,0.2-1.6,0.2-2.5c0-0.8,0-1.7-0.2-2.5l-5.3-1.5c-0.3-1.1-0.7-2.2-1.3-3.2
                   l2.7-4.8c-1-1.3-2.2-2.5-3.5-3.5l-4.8,2.7c-1-0.6-2-1-3.1-1.3L22,0.2c-1.6-0.2-3.3-0.2-5,0l-1.5,5.3c-1.1,0.3-2.2,0.7-3.2,1.3
                   L7.6,4.1c-1.3,1-2.5,2.2-3.5,3.5l2.7,4.8c-0.6,1-1,2-1.3,3.1L0.2,17C0.1,17.8,0,18.7,0,19.5c0,0.8,0,1.7,0.2,2.5l5.3,1.5
                   c0.3,1.1,0.7,2.2,1.3,3.2l-2.2,4l-0.4,0.8c1,1.3,2.2,2.5,3.5,3.5l4.8-2.7c1,0.6,2,1,3.1,1.3l1.5,5.3c1.6,0.2,3.3,0.2,5,0l1.5-5.3
                   c1.1-0.3,2.2-0.7,3.2-1.3l4.8,2.7c1.3-1,2.5-2.2,3.5-3.5l-2.7-4.8c0.6-1,1-2,1.3-3.1L38.8,22z M25.4,25.4c-3.3,3.3-8.5,3.2-11.8,0
                   c-3.3-3.3-3.2-8.5,0-11.8c3.3-3.3,8.5-3.2,11.8,0c1.6,1.6,2.4,3.7,2.4,5.9C27.9,21.7,27,23.8,25.4,25.4z"/>
                 <path id="Path-4257" class="st0-4" d="M19.5,23.1c-2,0-3.7-1.6-3.7-3.7c0-2,1.6-3.7,3.7-3.7c2,0,3.7,1.6,3.7,3.7
                   c0,1-0.4,1.9-1.1,2.6C21.4,22.8,20.5,23.2,19.5,23.1z"/>
               </g>
             </g>
             </svg>
        </div>
        <div class="meeting-option pt-3" matTooltip="Meeting" matTooltipPosition="right" matTooltipClass="custom-tooltip">
                <svg version="1.1" id="Layer-1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 66.5 62.7" style="enable-background:new 0 0 66.5 62.7;" xml:space="preserve" height="35" width="35">
               <style type="text/css">
                   .st1-0{fill:#6053BF;}
                   .st1-1{fill:#8F84E2;}
                   .st1-2{fill:#324A5E;}
                   .st1-3{fill:#FFFFFF;}
                   .st1-4{fill:#FF7058;}
               </style>
               <g>
                   <path id="Path-4241-2" class="st1-0" d="M62.6,7.5H3.8C1.7,7.5,0,9.1,0,11.2c0,0,0,0,0,0.1v47.6c0,2.1,1.7,3.8,3.8,3.8c0,0,0,0,0.1,0
                       h58.8c2.1,0,3.8-1.7,3.8-3.8c0,0,0,0,0-0.1V11.3C66.4,9.2,64.7,7.5,62.6,7.5z"/>
                   <path id="Path-4242" class="st1-1" d="M66.4,22.2V11.3c0-2.1-1.7-3.8-3.8-3.8c0,0,0,0-0.1,0H3.8C1.7,7.5,0,9.2,0,11.3c0,0,0,0,0,0.1
                       v10.9H66.4z"/>
                   <path id="Path-4243" class="st1-2" d="M15,14.9L15,14.9c-1.3,0-2.4-1.1-2.4-2.4c0,0,0,0,0,0V2.4C12.6,1.1,13.6,0,15,0c0,0,0,0,0,0
                       l0,0c1.3,0,2.4,1.1,2.4,2.4c0,0,0,0,0,0v10.1C17.4,13.8,16.3,14.9,15,14.9C15,14.9,15,14.9,15,14.9z"/>
                   <path id="Path-4244" class="st1-2" d="M51.5,14.9L51.5,14.9c-1.3,0-2.4-1.1-2.4-2.4c0,0,0,0,0,0V2.4c0-1.3,1.1-2.4,2.4-2.4
                       c0,0,0,0,0,0l0,0c1.3,0,2.4,1.1,2.4,2.4c0,0,0,0,0,0v10.1C53.9,13.8,52.8,14.9,51.5,14.9z"/>
                   <rect id="Rectangle-969" x="22.7" y="27.4" class="st1-3" width="6.7" height="6.7"/>
                   <rect id="Rectangle-970" x="37.1" y="27.4" class="st1-3" width="6.7" height="6.7"/>
                   <rect id="Rectangle-971" x="51.5" y="27.4" class="st1-3" width="6.7" height="6.7"/>
                   <rect id="Rectangle-972" x="8.3" y="38.7" class="st1-3" width="6.7" height="6.7"/>
                   <rect id="Rectangle-973" x="22.7" y="38.7" class="st1-3" width="6.7" height="6.7"/>
                   <rect id="Rectangle-974" x="37.1" y="38.7" class="st1-3" width="6.7" height="6.7"/>
                   <rect id="Rectangle-975" x="51.5" y="38.7" class="st1-4" width="6.7" height="6.7"/>
                   <rect id="Rectangle-976" x="8.2" y="49.6" class="st1-3" width="6" height="7"/>
                   <rect id="Rectangle-977" x="22.7" y="49.9" class="st1-3" width="6.7" height="6.7"/>
                   <rect id="Rectangle-978" x="37.1" y="49.9" class="st1-3" width="6.7" height="6.7"/>
               </g>
               </svg>
        </div>
        <div class="document-option pt-3" matTooltip="Document" matTooltipPosition="right" matTooltipClass="custom-tooltip">
                <svg version="1.1" id="Layer-1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 55.9 73.4" style="enable-background:new 0 0 55.9 73.4;" xml:space="preserve" height="35" width="35">
           <style type="text/css">
               .st2-0{fill:#4086F4;}
               .st2-1{fill:#80AEF8;}
               .st2-2{fill:#FFF5F5;}
           </style>
           <g>
               <path id="Path-4308-2" class="st2-0" d="M55.9,19.4l-15.1-4.3L36.6,0H6.5C2.9,0,0,2.9,0,6.5c0,0,0,0,0,0V67c0,3.6,2.9,6.5,6.5,6.5
                   c0,0,0,0,0,0h43c3.6,0,6.5-2.9,6.5-6.5c0,0,0,0,0,0V19.4z"/>
               <path id="Path-4310" class="st2-1" d="M55.9,19.4H40.9c-2.4,0-4.3-1.9-4.3-4.3V0c0.6,0,1.1,0.2,1.5,0.6l17.2,17.2
                   C55.7,18.2,56,18.8,55.9,19.4z"/>
               <g id="Group-10836" transform="translate(12.91 30.268)">
                   <path id="Path-4311" class="st2-2" d="M28,4.3H2.2C1,4.2,0,3.2,0.1,2.1C0.1,0.9,1,0,2.2,0H28c1.2,0.1,2.1,1.1,2.1,2.2
                       C30,3.4,29.1,4.3,28,4.3L28,4.3z"/>
               </g>
               <g id="Group-10837" transform="translate(12.91 38.875)">
                   <path id="Path-4312" class="st2-2" d="M28,4.3H2.2C1,4.2,0,3.2,0.1,2.1C0.1,0.9,1,0,2.2,0H28c1.2,0.1,2.1,1.1,2.1,2.2
                       C30,3.4,29.1,4.3,28,4.3L28,4.3z"/>
               </g>
               <g id="Group-10838" transform="translate(12.91 47.482)">
                   <path id="Path-4313" class="st2-2" d="M28,4.3H2.2C1,4.2,0,3.2,0.1,2.1C0.1,0.9,1,0,2.2,0H28c1.2,0.1,2.1,1.1,2.1,2.2
                       C30,3.4,29.1,4.3,28,4.3L28,4.3z"/>
               </g>
               <g id="Group-10839" transform="translate(12.91 56.089)">
                   <path id="Path-4314" class="st2-2" d="M19.4,4.3H2.2C1,4.2,0,3.2,0.1,2.1C0.1,0.9,1,0,2.2,0h17.2c1.2-0.1,2.2,0.9,2.2,2.1
                       c0.1,1.2-0.9,2.2-2.1,2.2C19.5,4.3,19.4,4.3,19.4,4.3z"/>
               </g>
           </g>
           </svg>
        </div>
        <div class=" pt-3" matTooltip="Picture" matTooltipPosition="right"  matTooltipClass="custom-tooltip">
                <svg version="1.1" id="Layer-1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 66.1 52.9" style="enable-background:new 0 0 66.1 52.9;" xml:space="preserve" height="35" width="35">
           <style type="text/css">
               .st3-0{fill:#4BB9FF;}
               .st3-1{fill:#2FD6F0;}
               .st3-2{fill:#92ECF6;}
               .st3-3{fill:#FFDD3E;}
           </style>
           <g>
               <path id="Path-4302-2" class="st3-0" d="M66.1,1.9v49c0,1.1-0.9,1.9-1.9,1.9H1.9C0.9,52.9,0,52,0,51v-49C0,0.9,0.9,0,1.9,0
                   c0,0,0,0,0,0h62.2C65.2,0,66.1,0.9,66.1,1.9z"/>
               <path id="Path-4304" class="st3-1" d="M27.7,32.1v20.8H1.9C0.9,52.9,0,52,0,51c0,0,0,0,0,0V30.2h25.8C26.9,30.2,27.7,31.1,27.7,32.1
                   L27.7,32.1z"/>
               <path id="Path-4305" class="st3-2" d="M66.1,50V51c0,1.1-0.9,1.9-1.9,1.9l0,0H1.9C0.9,52.9,0,52,0,51c0,0,0,0,0,0V50l25.2-19.8
                   l6.7-5.3c0.7-0.6,1.7-0.6,2.4,0L66.1,50z"/>
               <path id="Path-4306" class="st3-1" d="M34.2,24.9c-0.3-0.3-0.8-0.4-1.2-0.4v28.4h31.1c1.1,0,1.9-0.9,1.9-1.9l0,0V50L34.2,24.9z"/>
               <path id="Path-4307" class="st3-3" d="M49.9,7.7c-4.6,0-8.4,3.8-8.4,8.4c0,4.6,3.8,8.4,8.4,8.4s8.4-3.8,8.4-8.4
                   C58.3,11.5,54.6,7.7,49.9,7.7z"/>
           </g>
           </svg>
        </div>

          </div>
    <div class="reply-head-section" [ngClass]='displayTopics?"reply-right-border":""'>
        <div class="row m-0">
            <div class="col-md-1 col-1 align-self-center attachment-section" (click)="displayAttachmentOptions(10);$event.stopPropagation()">
                <svg id="Attachment" class="attachment-icon"xmlns="http://www.w3.org/2000/svg" width="26.029" height="26.016" viewBox="0 0 26.029 26.016" >
                    <g id="Group-509" data-name="Group 509" transform="translate(0)">
                      <g id="Group-508" data-name="Group 508">
                        <path id="Path-377" data-name="Path 377" d="M29.592,49.191a6.416,6.416,0,0,1-4.465-1.839,6.309,6.309,0,0,1,0-8.93l13.4-13.4a6.315,6.315,0,1,1,8.93,8.93l-1.471-1.471a4.2,4.2,0,0,0-5.936-5.936L26.6,39.945a4.2,4.2,0,0,0,5.936,5.936l8.93-8.93a1.523,1.523,0,0,0,0-2.206,1.621,1.621,0,0,0-2.206,0L31.8,42.152l-1.471-1.471,7.407-7.407a3.712,3.712,0,0,1,2.574-1.1,3.5,3.5,0,0,1,2.574,1.1,3.732,3.732,0,0,1,.105,5.1h0l-8.93,8.983A6.281,6.281,0,0,1,29.592,49.191Z" transform="translate(-23.275 -23.175)" fill="#979bac"/>
                      </g>
                    </g>
                  </svg>
                  
            </div>
            <div class=" col-9 align-self-center" [ngClass]="displayTopics?'col-md-9':'col-md-10'">
                <input type="text" class="form-control" placeholder="Reply">
            </div>
            <div class=" col-2 align-self-center m-auto" [ngClass]="displayTopics?'col-md-2':'col-md-1'">
                <div class="send-btn ml-auto">
                    <i class="fa fa-paper-plane"></i>

                </div>
            </div>
        </div>
    </div>
</div>
    </div>

<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! EMAIL DESIGN START !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
<div id="emailSection" class="p-0 col-md-5" [ngClass]="displayTopics?'col-md-5 center-section':'col-md-8'"
    *ngIf="!chatOpen">
    <div class="chat-area chat-right-area">
        <!-- TOP ROW ICONS+FWD -->
        <div class="row chat-header-row">
            <div class="col-md-6 col-5 align-self-center">
                <h3 title="@Abhijit  NS">Fwd: Resume</h3>
            </div>
            <div class="col-md-6 col-7 mail-option-block align-self-center">
                <ul>
                    <!-- <li (click)="showTopicsSidebar()" class="show-topics-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34">
                                        <g id="Group-10134" data-name="Group 10134" transform="translate(-0.234 0)">
                                            <rect id="Rectangle-303" data-name="Rectangle 303" width="10" height="10" rx="1"
                                                transform="translate(0.234 0)" fill="#ffdd26" />
                                            <rect id="Rectangle-308" data-name="Rectangle 308" width="10" height="10" rx="1"
                                                transform="translate(0.234 12)" fill="#ff5e65" />
                                            <rect id="Rectangle-312" data-name="Rectangle 312" width="10" height="10" rx="1"
                                                transform="translate(0.234 24)" fill="#80b9ff" />
                                            <g id="Group-10135" data-name="Group 10135" transform="translate(13.069 2)">
                                                <rect id="Rectangle-304" data-name="Rectangle 304" width="9" height="2" rx="1"
                                                    transform="translate(0.165)" fill="#6e5eb7" />
                                                <rect id="Rectangle-306" data-name="Rectangle 306" width="21" height="2" rx="1"
                                                    transform="translate(0.165 4)" fill="#6e5eb7" />
                                            </g>
                                            <g id="Group-10136" data-name="Group 10136" transform="translate(13.069 14)">
                                                <rect id="Rectangle-315" data-name="Rectangle 315" width="9" height="2" rx="1"
                                                    transform="translate(0.165)" fill="#6e5eb7" />
                                                <rect id="Rectangle-313" data-name="Rectangle 313" width="21" height="2" rx="1"
                                                    transform="translate(0.165 4)" fill="#6e5eb7" />
                                            </g>
                                            <g id="Group-10137" data-name="Group 10137" transform="translate(13.069 26)">
                                                <rect id="Rectangle-318" data-name="Rectangle 318" width="9" height="2" rx="1"
                                                    transform="translate(0.165)" fill="#6e5eb7" />
                                                <rect id="Rectangle-316" data-name="Rectangle 316" width="21" height="2" rx="1"
                                                    transform="translate(0.165 4)" fill="#6e5eb7" />
                                            </g>
                                        </g>
                                    </svg>
            
                                </li> -->
                    <li >
                        <svg xmlns="http://www.w3.org/2000/svg" width="26.402" height="29.65"
                            viewBox="0 0 26.402 29.65">
                            <defs>
                                <style>
                                    .a {
                                        fill: #80b9ff;
                                    }
                                </style>
                            </defs>
                            <g transform="translate(0 0)">
                                <path class="a"
                                    d="M52.284,2.16a7.394,7.394,0,0,0-10.445,0l-11,11a.869.869,0,0,0,1.229,1.229l11-11a5.785,5.785,0,0,1,7.988,0,5.655,5.655,0,0,1,0,7.987L35.7,26.906a3.558,3.558,0,0,1-4.916,0,3.479,3.479,0,0,1,0-4.915L45.525,7.074a1.335,1.335,0,0,1,1.843,0,1.306,1.306,0,0,1,0,1.844l-14.127,14.3a.969.969,0,0,0,0,1.229.869.869,0,0,0,1.229,0L48.6,10.147a3.044,3.044,0,0,0,0-4.3,3.115,3.115,0,0,0-4.3,0L29.554,20.762a5.248,5.248,0,0,0,0,7.372,5.241,5.241,0,0,0,7.373,0L52.284,12.6A7.393,7.393,0,0,0,52.284,2.16Z"
                                    transform="translate(-28.041 0)" />
                            </g>
                        </svg>
                    </li>
                    <li >
                        <div class="option-outerblock">
                            <span class="btn-group option-innerblock" dropdown placement="bottom left">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28.555" height="6"
                                    viewBox="0 0 28.555 8">
                                    <path id="Combined-Shape" data-name="Combined Shape"
                                        d="M22.556,3a3,3,0,1,1,3,3A3,3,0,0,1,22.556,3ZM11.278,3a3,3,0,1,1,3,3A3,3,0,0,1,11.278,3ZM0,3A3,3,0,1,1,3,6,3,3,0,0,1,0,3Z"
                                        fill="#c7c9d0" />
                                </svg>
                            </span>

                        </div>

                    </li>

                </ul>
            </div>
        </div>
        <!-- EMAIL SECTION START -->
        <div class="chat-conv-section">
            <!-- USER DETAIL -->
            <div class="conv-block">
                <div class="row incoming-conv-chat conv-rows">
                    <div class="col-md-1 col-3 prof-pic-section">
                        <div class="profile-name-outer-box">
                            <div class="profile-name-inner-box"><img src="../../assets/img/2.png"></div>
                        </div>
                    </div>
                    <div class="col-md-11 col-9 pl-0 profDetails">
                        <div class="row">
                            <h3>Ashok Kadsur</h3>
                        </div>
                        <div class="row">
                            <span class="chat-time">Aug 4, 2020, 6.09 PM</span>
                        </div>
                        <!-- <p>Change the seconddary CTA in first Pop up</p>
                                    <p>I hope you have used the same content from the document</p> -->

                    </div>
                </div>
                <div class="row yourend-conv-chat conv-rows">
                    <div class="pl20">
                        <p>FYI &A</p>
                    </div>
                </div>
            </div>
            <!-- FORWARD MESSAGE DETAILS -->
            <div class="conv-block forwardEmailDetails pl20">
                <div class="row incoming-conv-chat conv-rows">
                    <div class="col-md-12 col-9 pl-0">
                        <p><span class="forwardMsg">-----</span> Forwarded message <span class="forwardMsg">-----</span>
                        </p>
                        <p>From: Drive like a pro Be like a pro &#8826;drivelikeapro2@gmail.com&#8827; </p>
                        <p>Date: Sun, 9 Aug,2020, 12:18 PM </p>
                        <p>Subject: Resume</p>
                        <p>To: &#8826;kadsur@legaldesk.com&#8827; </p>
                    </div>
                </div>
            </div>
            <!-- EMAIL CONTENT / BODY -->
            <div class="conv-block emailBody pl20">
                <div class="row incoming-conv-chat conv-rows">
                    <div class="col-md-12 col-9 pl-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, nemo! Inventore, vero
                            cupiditate quod nesciunt molestias quos tempore, corrupti corporis aspernatur odio,
                            blanditiis
                            doloribus natus iusto voluptas nobis officiis dolorum. Lorem ipsum dolor sit amet
                            consectetur,
                            adipisicing elit. Enim excepturi vitae incidunt, similique, alias quisquam labore sunt
                            laudantium debitis eum vel! Nisi necessitatibus minus nemo distinctio ratione dolor possimus
                            soluta. </p>
                    </div>
                </div>
            </div>
            <!-- EMAIL ATTACHMENTS -->
            <div class="conv-block emailAttachment pl20">
                <div class="row incoming-conv-chat conv-rows">
                    <div class="col-md-12 col-9 pl-0">
                        <!-- LINK -->
                        <div class="attachmentLink"><a
                                href="https://xd.adobe.com/view/71f449cc-7c47-462f-aa44-5a9f7934fdba-24a7/screen/435df045-a783-4798-aee3-f14d1a8f5a88/">https://xd.adobe.com/view/71f449cc-7c47-462f-aa44-5a9f7934fdba-24a7/screen/435df045-a783-4798-aee3-f14d1a8f5a88/</a>
                        </div>

                        <div class="attachmentLink"><a
                                href="https://xd.adobe.com/view/71f449cc-7c47-462f-aa44-5a9f7934fdba-24a7/screen/435df045-a783-4798-aee3-f14d1a8f5a88/">https://xd.adobe.com/view/71f449cc-7c47-462f-aa44-5a9f7934fdba-24a7/screen/435df045-a783-4798-aee3-f14d1a8f5a88/</a>
                        </div>

                        <div class="attachmentLink"><a
                                href="https://xd.adobe.com/view/71f449cc-7c47-462f-aa44-5a9f7934fdba-24a7/screen/435df045-a783-4798-aee3-f14d1a8f5a88/">https://xd.adobe.com/view/71f449cc-7c47-462f-aa44-5a9f7934fdba-24a7/screen/435df045-a783-4798-aee3-f14d1a8f5a88/</a>
                        </div>

                        <!-- IMAGES  -->
                        <div class="select-temp-inner-box attachmentImg">
                            <div class="card-hover">
                                <div class="card-hover-top text-center">
                                    <div class="card-hover-image">
                                        Preview
                                    </div>
                                </div>
                            </div>
                            <div class="temp-img-box card">
                                <img class="card-img-top" src="assets/img/1.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Attachment Icon Dropdown -->
        <div class="options-sidenav" *ngIf="showSideNav===11">
            <div class="task-option pt-3" matTooltip="Task" matTooltipPosition="right" matTooltipClass="custom-tooltip">
                <svg version="1.1" id="Layer-1"  xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 58.6 70.7"
                    style="enable-background:new 0 0 58.6 70.7;" xml:space="preserve" height="35" width="35">
                    <style type="text/css">
                        .st0-0 {
                            fill: #FFFFFF;
                        }

                        .st0-1 {
                            fill: #4066E8;
                        }

                        .st0-2 {
                            fill: #324A5E;
                        }

                        .st0-3 {
                            fill: #CED5E0;
                        }

                        .st0-4 {
                            fill: #EA6969;
                        }
                    </style>
                    <g>
                        <circle id="Ellipse-82" class="st0-0" cx="39.2" cy="40.2" r="9.7" />
                        <path id="Path-4245-2" class="st0-1" d="M41.4,40.2c0,3.5,1.9,6.7,4.9,8.4c1.5,0.9,3.2,1.3,4.9,1.3V67c0,2-1.6,3.7-3.7,3.7H3.7
                                     C1.6,70.7,0,69,0,67c0,0,0,0,0,0V13.4c0-2,1.6-3.7,3.7-3.7h43.8c2,0,3.7,1.6,3.7,3.7v17.1c-1.7,0-3.4,0.4-4.9,1.3
                                     C43.3,33.5,41.4,36.7,41.4,40.2z" />
                        <path id="Path-4246" class="st0-0" d="M48.4,40.3c0,3.5-5.1,6.6-2.1,8.4v15.9c0,0.7-0.5,1.2-1.2,1.2c0,0,0,0,0,0h-39
                                     c-0.7,0-1.2-0.5-1.2-1.2l0,0V15.8c0-0.7,0.5-1.2,1.2-1.2l0,0h39c0.7,0,1.2,0.5,1.2,1.2c0,0,0,0,0,0v15.9
                                     C43.3,33.5,48.4,36.8,48.4,40.3z" />
                        <path id="Path-4247" class="st0-2" d="M39,9.7v4.9c0,1.3-1.1,2.4-2.4,2.4H14.6c-1.3,0-2.4-1.1-2.4-2.4V9.7c0-1.3,1.1-2.4,2.4-2.4h3.7
                                     c0-4,3.3-7.3,7.3-7.3c4,0,7.3,3.3,7.3,7.3h3.7C37.9,7.3,39,8.4,39,9.7z" />
                        <path id="Path-4248" class="st0-0" d="M25.6,7.3c-0.7,0-1.2-0.5-1.2-1.2c0,0,0,0,0,0c0-0.2,0-0.3,0.1-0.5c0.1-0.1,0.1-0.3,0.3-0.4
                                     c0.5-0.5,1.2-0.5,1.7,0c0.1,0.1,0.2,0.3,0.3,0.4c0.1,0.1,0.1,0.3,0.1,0.5C26.8,6.8,26.3,7.3,25.6,7.3C25.6,7.3,25.6,7.3,25.6,7.3
                                     L25.6,7.3z" />
                        <g id="Group-10508" transform="translate(10.963 24.361)">
                            <path id="Path-4249" class="st0-3" d="M1.2,2.4h19.5c0.7,0,1.2-0.5,1.2-1.2S21.4,0,20.7,0H1.2C0.5,0,0,0.5,0,1.2S0.5,2.4,1.2,2.4
                                       L1.2,2.4z" />
                            <path id="Path-4250" class="st0-3" d="M20.7,6.1H1.2C0.5,6.1,0,6.6,0,7.3s0.5,1.2,1.2,1.2l0,0h19.5c0.7,0,1.2-0.5,1.2-1.2
                                       S21.4,6.1,20.7,6.1z" />
                            <path id="Path-4251" class="st0-3" d="M17.1,12.2H1.2c-0.7,0-1.2,0.5-1.2,1.2c0,0.7,0.5,1.2,1.2,1.2l0,0h15.8c0.7,0,1.2-0.5,1.2-1.2
                                       C18.3,12.7,17.7,12.2,17.1,12.2z" />
                            <path id="Path-4252" class="st0-3" d="M17.1,18.3H1.2c-0.7,0-1.2,0.5-1.2,1.2c0,0.7,0.5,1.2,1.2,1.2l0,0h15.8c0.7,0,1.2-0.5,1.2-1.2
                                       C18.3,18.8,17.7,18.3,17.1,18.3z" />
                            <path id="Path-4253" class="st0-3" d="M19.5,24.4H1.2c-0.7,0-1.2,0.5-1.2,1.2c0,0.7,0.5,1.2,1.2,1.2l0,0h18.3c0.7,0,1.2-0.5,1.2-1.2
                                       C20.7,24.9,20.2,24.4,19.5,24.4z" />
                            <path id="Path-4254" class="st0-3" d="M13.4,30.5H1.2C0.5,30.5,0,31,0,31.7c0,0.7,0.5,1.2,1.2,1.2l0,0h12.2c0.7,0,1.2-0.5,1.2-1.2
                                       C14.6,31,14.1,30.5,13.4,30.5z" />
                        </g>
                        <path id="Path-4255" class="st0-0" d="M34.1,14.6H17.1c-0.7,0-1.2-0.5-1.2-1.2c0-0.7,0.5-1.2,1.2-1.2h17.1c0.7,0,1.2,0.5,1.2,1.2
                                     C35.3,14.1,34.8,14.6,34.1,14.6C34.1,14.6,34.1,14.6,34.1,14.6L34.1,14.6z" />
                        <g id="Group-10509" transform="translate(19.67 20.707)">
                            <path id="Path-4256" class="st0-4"
                                d="M38.8,22c0.1-0.8,0.2-1.6,0.2-2.5c0-0.8,0-1.7-0.2-2.5l-5.3-1.5c-0.3-1.1-0.7-2.2-1.3-3.2
                                       l2.7-4.8c-1-1.3-2.2-2.5-3.5-3.5l-4.8,2.7c-1-0.6-2-1-3.1-1.3L22,0.2c-1.6-0.2-3.3-0.2-5,0l-1.5,5.3c-1.1,0.3-2.2,0.7-3.2,1.3
                                       L7.6,4.1c-1.3,1-2.5,2.2-3.5,3.5l2.7,4.8c-0.6,1-1,2-1.3,3.1L0.2,17C0.1,17.8,0,18.7,0,19.5c0,0.8,0,1.7,0.2,2.5l5.3,1.5
                                       c0.3,1.1,0.7,2.2,1.3,3.2l-2.2,4l-0.4,0.8c1,1.3,2.2,2.5,3.5,3.5l4.8-2.7c1,0.6,2,1,3.1,1.3l1.5,5.3c1.6,0.2,3.3,0.2,5,0l1.5-5.3
                                       c1.1-0.3,2.2-0.7,3.2-1.3l4.8,2.7c1.3-1,2.5-2.2,3.5-3.5l-2.7-4.8c0.6-1,1-2,1.3-3.1L38.8,22z M25.4,25.4c-3.3,3.3-8.5,3.2-11.8,0
                                       c-3.3-3.3-3.2-8.5,0-11.8c3.3-3.3,8.5-3.2,11.8,0c1.6,1.6,2.4,3.7,2.4,5.9C27.9,21.7,27,23.8,25.4,25.4z" />
                            <path id="Path-4257" class="st0-4" d="M19.5,23.1c-2,0-3.7-1.6-3.7-3.7c0-2,1.6-3.7,3.7-3.7c2,0,3.7,1.6,3.7,3.7
                                       c0,1-0.4,1.9-1.1,2.6C21.4,22.8,20.5,23.2,19.5,23.1z" />
                        </g>
                    </g>
                </svg>
            </div>
            <div class="meeting-option pt-3" matTooltip="Meeting" matTooltipPosition="right"
                matTooltipClass="custom-tooltip">
                <svg version="1.1" id="Layer-1" class="meeting-svg" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 66.5 62.7"
                    style="enable-background:new 0 0 66.5 62.7;" xml:space="preserve" height="35" width="35">
                    <style type="text/css">
                        .st1-0 {
                            fill: #6053BF;
                        }

                        .st1-1 {
                            fill: #8F84E2;
                        }

                        .st1-2 {
                            fill: #324A5E;
                        }

                        .st1-3 {
                            fill: #FFFFFF;
                        }

                        .st1-4 {
                            fill: #FF7058;
                        }
                    </style>
                    <g>
                        <path id="Path-4241-2" class="st1-0"
                            d="M62.6,7.5H3.8C1.7,7.5,0,9.1,0,11.2c0,0,0,0,0,0.1v47.6c0,2.1,1.7,3.8,3.8,3.8c0,0,0,0,0.1,0
                                           h58.8c2.1,0,3.8-1.7,3.8-3.8c0,0,0,0,0-0.1V11.3C66.4,9.2,64.7,7.5,62.6,7.5z" />
                        <path id="Path-4242" class="st1-1" d="M66.4,22.2V11.3c0-2.1-1.7-3.8-3.8-3.8c0,0,0,0-0.1,0H3.8C1.7,7.5,0,9.2,0,11.3c0,0,0,0,0,0.1
                                           v10.9H66.4z" />
                        <path id="Path-4243" class="st1-2"
                            d="M15,14.9L15,14.9c-1.3,0-2.4-1.1-2.4-2.4c0,0,0,0,0,0V2.4C12.6,1.1,13.6,0,15,0c0,0,0,0,0,0
                                           l0,0c1.3,0,2.4,1.1,2.4,2.4c0,0,0,0,0,0v10.1C17.4,13.8,16.3,14.9,15,14.9C15,14.9,15,14.9,15,14.9z" />
                        <path id="Path-4244" class="st1-2"
                            d="M51.5,14.9L51.5,14.9c-1.3,0-2.4-1.1-2.4-2.4c0,0,0,0,0,0V2.4c0-1.3,1.1-2.4,2.4-2.4
                                           c0,0,0,0,0,0l0,0c1.3,0,2.4,1.1,2.4,2.4c0,0,0,0,0,0v10.1C53.9,13.8,52.8,14.9,51.5,14.9z" />
                        <rect id="Rectangle-969" x="22.7" y="27.4" class="st1-3" width="6.7" height="6.7" />
                        <rect id="Rectangle-970" x="37.1" y="27.4" class="st1-3" width="6.7" height="6.7" />
                        <rect id="Rectangle-971" x="51.5" y="27.4" class="st1-3" width="6.7" height="6.7" />
                        <rect id="Rectangle-972" x="8.3" y="38.7" class="st1-3" width="6.7" height="6.7" />
                        <rect id="Rectangle-973" x="22.7" y="38.7" class="st1-3" width="6.7" height="6.7" />
                        <rect id="Rectangle-974" x="37.1" y="38.7" class="st1-3" width="6.7" height="6.7" />
                        <rect id="Rectangle-975" x="51.5" y="38.7" class="st1-4" width="6.7" height="6.7" />
                        <rect id="Rectangle-976" x="8.2" y="49.6" class="st1-3" width="6" height="7" />
                        <rect id="Rectangle-977" x="22.7" y="49.9" class="st1-3" width="6.7" height="6.7" />
                        <rect id="Rectangle-978" x="37.1" y="49.9" class="st1-3" width="6.7" height="6.7" />
                    </g>
                </svg>
            </div>
            <div class="document-option pt-3" matTooltip="Document" matTooltipPosition="right"
                matTooltipClass="custom-tooltip">
                <svg version="1.1" id="Layer-1" class="document-svg" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 55.9 73.4"
                    style="enable-background:new 0 0 55.9 73.4;" xml:space="preserve" height="35" width="35">
                    <style type="text/css">
                        .st2-0 {
                            fill: #4086F4;
                        }

                        .st2-1 {
                            fill: #80AEF8;
                        }

                        .st2-2 {
                            fill: #FFF5F5;
                        }
                    </style>
                    <g>
                        <path id="Path-4308-2" class="st2-0" d="M55.9,19.4l-15.1-4.3L36.6,0H6.5C2.9,0,0,2.9,0,6.5c0,0,0,0,0,0V67c0,3.6,2.9,6.5,6.5,6.5
                                       c0,0,0,0,0,0h43c3.6,0,6.5-2.9,6.5-6.5c0,0,0,0,0,0V19.4z" />
                        <path id="Path-4310" class="st2-1" d="M55.9,19.4H40.9c-2.4,0-4.3-1.9-4.3-4.3V0c0.6,0,1.1,0.2,1.5,0.6l17.2,17.2
                                       C55.7,18.2,56,18.8,55.9,19.4z" />
                        <g id="Group-10836" transform="translate(12.91 30.268)">
                            <path id="Path-4311" class="st2-2" d="M28,4.3H2.2C1,4.2,0,3.2,0.1,2.1C0.1,0.9,1,0,2.2,0H28c1.2,0.1,2.1,1.1,2.1,2.2
                                           C30,3.4,29.1,4.3,28,4.3L28,4.3z" />
                        </g>
                        <g id="Group-10837" transform="translate(12.91 38.875)">
                            <path id="Path-4312" class="st2-2" d="M28,4.3H2.2C1,4.2,0,3.2,0.1,2.1C0.1,0.9,1,0,2.2,0H28c1.2,0.1,2.1,1.1,2.1,2.2
                                           C30,3.4,29.1,4.3,28,4.3L28,4.3z" />
                        </g>
                        <g id="Group-10838" transform="translate(12.91 47.482)">
                            <path id="Path-4313" class="st2-2" d="M28,4.3H2.2C1,4.2,0,3.2,0.1,2.1C0.1,0.9,1,0,2.2,0H28c1.2,0.1,2.1,1.1,2.1,2.2
                                           C30,3.4,29.1,4.3,28,4.3L28,4.3z" />
                        </g>
                        <g id="Group-10839" transform="translate(12.91 56.089)">
                            <path id="Path-4314" class="st2-2" d="M19.4,4.3H2.2C1,4.2,0,3.2,0.1,2.1C0.1,0.9,1,0,2.2,0h17.2c1.2-0.1,2.2,0.9,2.2,2.1
                                           c0.1,1.2-0.9,2.2-2.1,2.2C19.5,4.3,19.4,4.3,19.4,4.3z" />
                        </g>
                    </g>
                </svg>
            </div>
            <div class="picture-option pt-3" matTooltip="Picture" matTooltipPosition="right"
                matTooltipClass="custom-tooltip">
                <svg version="1.1" id="Layer-1" class="picture-svg" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 66.1 52.9"
                    style="enable-background:new 0 0 66.1 52.9;" xml:space="preserve" height="35" width="35">
                    <style type="text/css">
                        .st3-0 {
                            fill: #4BB9FF;
                        }

                        .st3-1 {
                            fill: #2FD6F0;
                        }

                        .st3-2 {
                            fill: #92ECF6;
                        }

                        .st3-3 {
                            fill: #FFDD3E;
                        }
                    </style>
                    <g>
                        <path id="Path-4302-2" class="st3-0" d="M66.1,1.9v49c0,1.1-0.9,1.9-1.9,1.9H1.9C0.9,52.9,0,52,0,51v-49C0,0.9,0.9,0,1.9,0
                                       c0,0,0,0,0,0h62.2C65.2,0,66.1,0.9,66.1,1.9z" />
                        <path id="Path-4304" class="st3-1" d="M27.7,32.1v20.8H1.9C0.9,52.9,0,52,0,51c0,0,0,0,0,0V30.2h25.8C26.9,30.2,27.7,31.1,27.7,32.1
                                       L27.7,32.1z" />
                        <path id="Path-4305" class="st3-2" d="M66.1,50V51c0,1.1-0.9,1.9-1.9,1.9l0,0H1.9C0.9,52.9,0,52,0,51c0,0,0,0,0,0V50l25.2-19.8
                                       l6.7-5.3c0.7-0.6,1.7-0.6,2.4,0L66.1,50z" />
                        <path id="Path-4306" class="st3-1"
                            d="M34.2,24.9c-0.3-0.3-0.8-0.4-1.2-0.4v28.4h31.1c1.1,0,1.9-0.9,1.9-1.9l0,0V50L34.2,24.9z" />
                        <path id="Path-4307" class="st3-3" d="M49.9,7.7c-4.6,0-8.4,3.8-8.4,8.4c0,4.6,3.8,8.4,8.4,8.4s8.4-3.8,8.4-8.4
                                       C58.3,11.5,54.6,7.7,49.9,7.7z" />
                    </g>
                </svg>
            </div>
        </div>
        <!-- REPLY SECTION -->
        <div class="reply-head-section emailReplySection">
            <!-- FIRST ROW -->
            <div class="row m-0 emailReplySection" *ngIf="replyClicked">
                <textarea class="emailContent" name="emailContent" id="emailContent" cols="30" rows="10"></textarea>
            </div>
            <!-- SECOND ROW -->
            <div class="row m-0">
                <div class="col-md-1 col-1 align-self-center attachment-section" (click)="displayAttachmentOptions(11);$event.stopPropagation()">
                    <svg id="Attachment" class="attachment-icon" xmlns="http://www.w3.org/2000/svg" width="26.029"
                        height="26.016" viewBox="0 0 26.029 26.016">
                        <g id="Group-509" data-name="Group 509" transform="translate(0)">
                            <g id="Group-508" data-name="Group 508">
                                <path id="Path-377" data-name="Path 377"
                                    d="M29.592,49.191a6.416,6.416,0,0,1-4.465-1.839,6.309,6.309,0,0,1,0-8.93l13.4-13.4a6.315,6.315,0,1,1,8.93,8.93l-1.471-1.471a4.2,4.2,0,0,0-5.936-5.936L26.6,39.945a4.2,4.2,0,0,0,5.936,5.936l8.93-8.93a1.523,1.523,0,0,0,0-2.206,1.621,1.621,0,0,0-2.206,0L31.8,42.152l-1.471-1.471,7.407-7.407a3.712,3.712,0,0,1,2.574-1.1,3.5,3.5,0,0,1,2.574,1.1,3.732,3.732,0,0,1,.105,5.1h0l-8.93,8.983A6.281,6.281,0,0,1,29.592,49.191Z"
                                    transform="translate(-23.275 -23.175)" fill="#979bac" />
                            </g>
                        </g>
                    </svg>
                </div>
                <!-- INPUT FIELD -->
                <div class=" col-9 align-self-center" [ngClass]="displayTopics?'col-md-9':'col-md-10'"
                    *ngIf="!replyClicked">
                    <input type="text" class="form-control" placeholder="Reply" (click)="replyEmail();">
                </div>
                <div class=" col-9 align-self-center row iconsRow emailReplySection"
                    [ngClass]="displayTopics?'col-md-9':'col-md-10'" *ngIf="replyClicked">
                    <div class="row emailReplySection">
                        <div class="iconsCol">
                            <i class="fas fa-undo"></i>
                        </div>
                        <div class="iconsCol">
                            <i class="fas fa-redo"></i>
                        </div>
                        <div class="iconsCol fontFamily">
                            <p>Arial</p>
                            <i class="fas fa-angle-down"></i>
                        </div>
                        <div class="iconsCol fontSize">
                            <p>12</p>
                            <div class="emailReplySection">
                                <i class="fas fa-angle-up"></i>
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="iconsCol">
                            <i class="fas fa-bold"></i>
                        </div>
                        <div class="iconsCol">
                            <i class="fas fa-italic"></i>
                        </div>
                        <div class="iconsCol">
                            <i class="fas fa-underline"></i>
                        </div>
                        <div class="iconsCol">
                            <i class="fas fa-font"></i>
                        </div>
                        <div class="iconsCol">
                            <i class="fas fa-align-left"></i>
                        </div>
                        <div class="iconsCol">
                            <i class="fas fa-align-center"></i>
                        </div>
                        <div class="iconsCol">
                            <i class="fas fa-align-right"></i>
                        </div>
                        <div class="iconsCol">
                            <i class="fas fa-align-justify"></i>
                        </div>
                        <div class="iconsCol">
                            <i class="fas fa-align-left"></i>
                        </div>
                        <div class="iconsCol">
                            <i class="fas fa-align-center"></i>
                        </div>
                        <div class="iconsCol">
                            <i class="fas fa-align-right"></i>
                        </div>
                        <div class="iconsCol">
                            <i class="fas fa-align-justify"></i>
                        </div>
                    </div>
                </div>

                <!-- SEND ICON -->
                <div class=" col-2 align-self-center m-auto"
                    [ngClass]="displayTopics?'col-md-2':'col-md-1'">
                    <div class="send-btn ml-auto emailReplySection">
                        <i class="fa fa-paper-plane"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! EMAIL DESIGN END !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <div class="col-md-3 pl-0 pr-0 topics-sidebar" *ngIf="displayTopics">
        <div class="topics-wrapper">
            <div class="topics-header"><h3 class="mb-0"><span class="close-icon" (click)="hideTopicsSidebar()">&times;</span>&nbsp; Topics</h3></div>
            <div class="topics-section">
                <div class="topic-row">
                    <div class="row m-0">
                    <div class="col-md-10 topic-heading">Data from Gsuite</div>
                    <div class="col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="28.555" height="6" viewBox="0 0 28.555 8">
                        <path id="Combined-Shape" data-name="Combined Shape" d="M22.556,3a3,3,0,1,1,3,3A3,3,0,0,1,22.556,3ZM11.278,3a3,3,0,1,1,3,3A3,3,0,0,1,11.278,3ZM0,3A3,3,0,1,1,3,6,3,3,0,0,1,0,3Z" fill="#c7c9d0"/>
                      </svg></div>
                    </div>
                    <div class="row m-0 pt-1 pb-1">
                        <div class="col-md-10">Data from G Suite core services will be exported for all users in our organization.</div>
                        <div class="col-md-2 m-auto text-right">
                            <svg version="1.1" id="Layer-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 15.5 29.6" style="enable-background:new 0 0 15.5 29.6;" xml:space="preserve" width="20" height="20" class="right-angle-arrow">
                       <style type="text/css">
                           .st0{fill:#66696F;}
                       </style>
                       <path class="st0" d="M15.2,14.5L1.1,0.4c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7l13.8,13.8L0.4,28.6c-0.2,0.2-0.2,0.5,0,0.7
                           c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l14.1-14.1c0.1-0.1,0.1-0.2,0.1-0.4C15.3,14.7,15.3,14.6,15.2,14.5z"/>
                       </svg></div>
                    </div>
                    <div class="row m-0 date-status-section">
                        <ul>
                            <li class="topic-sent-date">8 JUN 2020</li>
                            <li class="topic-status">Concluded</li>
                        </ul>
                    </div>
                </div>
                <div class="topic-row">
                        <div class="row m-0">
                        <div class="col-md-10 topic-heading">Approval Dashboard</div>
                        <div class="col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="28.555" height="6" viewBox="0 0 28.555 8">
                            <path id="Combined-Shape" data-name="Combined Shape" d="M22.556,3a3,3,0,1,1,3,3A3,3,0,0,1,22.556,3ZM11.278,3a3,3,0,1,1,3,3A3,3,0,0,1,11.278,3ZM0,3A3,3,0,1,1,3,6,3,3,0,0,1,0,3Z" fill="#c7c9d0"/>
                          </svg></div>
                        </div>
                        <div class="row m-0 pt-1 pb-1">
                            <div class="col-md-10">Should we have a separate dashboard for approval?</div>
                            <div class="col-md-2 m-auto text-right">
                                <svg version="1.1" id="Layer-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 15.5 29.6" style="enable-background:new 0 0 15.5 29.6;" xml:space="preserve" width="20" height="20" class="right-angle-arrow">
                           <style type="text/css">
                               .st0{fill:#66696F;}
                           </style>
                           <path class="st0" d="M15.2,14.5L1.1,0.4c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7l13.8,13.8L0.4,28.6c-0.2,0.2-0.2,0.5,0,0.7
                               c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l14.1-14.1c0.1-0.1,0.1-0.2,0.1-0.4C15.3,14.7,15.3,14.6,15.2,14.5z"/>
                           </svg></div>
                        </div>
                        <div class="row m-0 date-status-section">
                            <ul>
                                <li class="topic-sent-date">8 JUN 2020</li>
                                <li class="topic-status">Concluded</li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>