*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mstream-main-block{
    height: 100vh;

    .chat-area{
        height: 100vh;
        // overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
         scrollbar-width: none;
    }
    .chat-area::-webkit-scrollbar{
        width: 0px;
    }
    .chat-left-col{
        border-right:1px solid #f1f1f1;
        height: 100vh;
    }
    .chat-left-area{
        padding:20px 0px 20px;
    }
   
    .conv-row{
        cursor: pointer;
        padding: 20px 0;
        margin: 0;
        // margin-bottom: 20px;
        &:hover{
            background: #f5f5f5;
            border-radius: 45px;

        }
        .profile-name-outer-box{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            display: table;
            background: #f0edff;
            .profile-name-inner-box{
                display: table-cell;
                vertical-align: middle;
                position: relative;
                text-align:center;
                img{
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                }
                .user-icon{
                    font-size: 20px;
                    color:#cbc3fc;
                }
            }
           
        }
       
        h5{
            margin-bottom: 0;
            color:#000000;
            position: relative;
            line-height: 0;
        }
        .prof-name,.display-msg{
            margin-bottom: 0;
            font-size: 14px;
        }
     
        .display-msg p,.prof-name{
            max-width: 80%;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis !important;
            white-space: nowrap;
            vertical-align: middle;
            margin-bottom: 0;
            // line-height: 1.2;
        }
        .chat-right-box{
            position: absolute;
            top: 0;
            border-bottom: 0;
            right: 0;
         .attachment{
            font-size: 18px;
            transform: rotate(90deg);
            margin-right: 10px;
            color: #6f8ced;
         }

        }
        .chat-time{
            // float: right;
            font-size: 10px;            
            font-weight: normal;
            
        }   
        .unread-count{
            background-color: #D3D3D3;
            color: #ffffff;
            border-radius: 50%;
            font-size: 12px;
            width: 20px;
            height: 20px;
            padding: 0;
            vertical-align: initial;
            float: right;
            line-height: 20px;
        } 
        .no-pic{
            border: 2px solid #8a88e7;
            background: transparent;
            color: #8a88e7;
            font-size: 20px;
          }

       
    }
    .read-row{
        h6{
            font-weight: normal;
        }
        p,.chat-time{
            color:#989898;
            
        }      
      
    }
    .unread-row{
        h6{
            font-weight: 500 !important;
        }
        .chat-time{
            color:#6f8ced;
        }
    }
    .display-online{     
    height: 11px;
    width: 11px;
    background: #6DD79A;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right:0;
    border-radius: 50%;
    z-index: 8;
    border: 1px solid #ffffff;

    }
    .for-chat-height{
        height: 93vh;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;
   }
   .for-chat-height::-webkit-scrollbar{
       width: 0px;
   }    
    
    .mat-tab-header-pagination{
        display: none;
    }

    .mat-tab-label{
        min-width: 16% !important;
    }
    .mat-tab-header{
        background: #ffffff;
        z-index: 2;
        width: 100%;
        position: absolute;
        bottom:0;
        left:0;
    -webkit-box-shadow: -2px 0px 5px 0px rgb(200 200 200 / 75%);
    -moz-box-shadow: -2px 0px 5px 0px rgb(200 200 200 / 75%);
    box-shadow: -2px 0px 5px 0px rgb(200 200 200 / 75%);
    }
    .mat-tab-label{
        font-weight: normal;
    }
    .mat-tab-label-active{
        color:#4066E8 !important
    }
    .mat-ink-bar{
        top: 0;
        background-color:#4066E8;
        visibility: visible;
        // left: 20px !important;
        // width: 70px !important;
        height: 3px !important;
    }
}
.pl25{
    padding-left: 25px;
}
.p-relative{
    position: relative;
}

.chat-right-area{
    position: relative;
    .chat-header-row{
        margin: 0;
        border-bottom:1px solid #f1f1f1;
        padding:12px 10px;

        h3{
            max-width: 100%;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis !important;
            white-space: nowrap;
            vertical-align: middle;
            margin-bottom: 0;
            font-size: 18px;
            font-weight: 500;
        }
        ul{
            margin-bottom: 0px;
        }
    }
    .mail-option-block{
    text-align:right;
    li{
        list-style: none;
        display: inline-block;
        margin: 0 7px;
        vertical-align: middle;
        cursor: pointer;
        svg{
            height: 20px;
        }

        .option-outerblock{
            background: #f8f8f8;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            display: table;
            border-spacing: 0;
            .option-innerblock{
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                color: #C7C9D0;
                font-size: 28px;
                svg{
                    vertical-align: middle;
                    height: 5px !important;
                    display: table-cell;
                    text-align: center;
                    margin: 0 auto;
                    width: 85%;
                }
            }
        }
    }
}
.reply-head-section{
    position: absolute;
    bottom: 0;
    width:100%;
    border-top: 1px solid #f1f1f1;
     padding: 10px 0;
     background-color: #ffffff;
     z-index: 15;
     box-shadow: 0px -10px 20px #DBD8EA33;
     .attachment-icon{
         height:20px;
     }
     input[type=text]{
        height: 60px;
        border: none;
        outline: none;
        padding-left: 0;

     }
     input[type=text]:focus{
        border-color: none;
        box-shadow: none;

     }

    .attachment-section{
        flex:0 0 5.333333% !important;
        cursor: pointer;
    }
    .send-btn{
        background: transparent linear-gradient(148deg, rgba(70, 93, 226, 1) 0%, rgba(118, 75, 162, 1) 100%) 0% 0% no-repeat padding-box;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: table;
        cursor: pointer;
        &:hover{
            background: transparent linear-gradient(148deg,rgba(118, 75, 162, 1) 0%, rgba(70, 93, 226, 1) 100%) 0% 0% no-repeat padding-box;

        }
        i{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font-size: 27px;
            color: #ffffff;
        }
    }
}

}



.options-sidenav{
     position: fixed;bottom: 88px; padding-left: 1%; width: fit-content;z-index: 50;
     svg{cursor: pointer;}
    }

.custom-tooltip{padding: 0px;}


.topics-header{ border-bottom: 1px solid #f1f1f1;padding: 12px 10px;

 .close-icon{    font-size: 36px!important;
    font-weight: 300!important;
    line-height: 0!important;
    color: #979BAC!important;
    -webkit-text-stroke: .25pt #fff;
    position: relative;
    top: 4px; cursor: pointer;}
}

.date-status-section ul{ list-style: none; 
    li{float: left;padding: 0px 15px;}
    li:first-child{border-right: 1px solid #EEEEEE;}
}
.topic-heading{font-weight: 500;}
.topic-sent-date{color: #989898; font-size: 11px;}
.topic-status{color: #6DD79A;font-size: 11px;}
.right-angle-arrow{display: none;}
.topic-row{cursor: pointer; padding: 15px 0px;}
.topic-row:hover{
    background: #F6F6F6;
    
    .right-angle-arrow{display: inline-block;}
} 
.center-section{border-right: 1px solid #f1f1f1;}
.chat-conv-section{
    height: 79vh;
    overflow-y: scroll;
    scrollbar-width: none;
    // padding:0 20px;

    .top-chat-time{
        text-align:center;
        color: #979BAC;
        font-size: 11px;
        margin-bottom: 10px;
    }
    
    .conv-rows{
        margin-bottom: 22px;
        .profile-name-outer-box{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            display: table;
            background: #f0edff;
            .profile-name-inner-box{
                display: table-cell;
                vertical-align: middle;
                position: relative;
                text-align:center;
                img{
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                }
             
            }
           
        }
        h3{
            color:#8A88E7;
            margin-bottom: 0px;
            max-width: 80%;
            font-size:15px;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis !important;
            white-space: nowrap;
            vertical-align: middle;
        }
        p{
            font-size:16px;
            margin-bottom: 5px;
        }
        .chat-time{
            color: #979BAC;
            font-size: 10px;
            vertical-align: middle;
            margin-left: 10px;
        }
        .prof-pic-section{
            flex:0 0 5.333333% !important;
        }

        .attached-link{
            color: #044A9B;
            font-size: 14px;
        }
        .attached-img{
            border:1px solid #f1f1f1;
            height: 300px;
            width: 300px;
            img{
                height: 100%;
                width:100%;
            }
        }
    }
    .yourend-conv-chat{
        h3{
            color:#6DD79A;
        }
     
    }
   
}

.chat-conv-section::-webkit-scrollbar{
    width: 0px;
}  

.group-conv-section  .conv-rows .chat-time{margin-left: 0px;}
.messager-name-time-section{line-height: 0.5;}
.main-topic-header{font-weight: 500; font-size: 25px; margin: auto 0px;}
.group-conv-section .conv-rows{margin-bottom: 0px;}
.conv-main-topic{background: #F8F9FA;
    border-top: 1px solid #EBEBEB;border-bottom: 1px solid #EBEBEB; padding: 16px 0px;}
.group-conv-section p{font-size: 16px;}
.main-message-text,.people-mentioned{font-size: 20px !important; line-height: 1.7;}
.attached-image{height: 300px; width: 300px;}
.reply-right-border{border-right: 1px solid #f1f1f1;}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! EMAIL DESIGN START !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.pl20{
    padding-left: 20px !important;
}
#emailSection{
    .chat-conv-section{padding: 20px 15px;}
    .chat-header-row{border-bottom: 1px solid #f1f1f1;}

    .profDetails{
        .row, .row .chat-time{
            margin: 0;
        }
        h3{
            color: #FB4EB3;
        }
    }

    .forwardEmailDetails{
        .forwardMsg{
            letter-spacing: 5px;
        }
        .emailIdFrom{
            color: #212529;
        }
    }
    .emailBody{
        margin-top: 40px;
    }
    .emailAttachment{
        .attachmentLink{
            margin: 10px 0;
            text-decoration: underline;
        }
        .attachmentImg {
           margin-top: 20px;
           position: relative;
           width: 20%;
           .card-hover{
             z-index: 10;
             opacity: 0;
             position: absolute;
             width: 100%;
             height: 100%;
             top: 0;
                .card-hover-top{
                  cursor: pointer;
                  height: 100%;
                  width: 100%;
                  color: #ffffff;
                  display: table;
                  font-size: 25px;
                  background-color: #0000004d;
                  font-family: "Open Sans", regular;
                
                  .card-hover-image{
                    display: table-cell;
                    vertical-align: middle;
                  }
                }
            }
           .card-hover:hover{
             opacity: 1;
           }
        }
    }
    .iconsRow{
        width: 100%;
        height: 45px;
        padding: 0;
        margin: 0;
        border: 1px solid #f1f1f1;
        .row{
            width: 100%;
            margin: 0;
        }
    }
    .iconsCol{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        width: 5%;
        margin: 0 3px;
        i,p{
            margin: 0;
            cursor: pointer;
        }
    }
    .fontFamily{
        width: 9%;
        p{
            margin-right: 10px;
        }
    }
    .fontSize{
        width: 8%;
        p{
            display: inline-block;
            line-height: 40px;
            margin: 0 10px 0 0;
        }
        div i{
            display: block;
        }
    }
    .emailContent{
        width: 100%;
        border: none;
        padding: 20px;
        resize: none;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .emailContent:focus{
        outline: none;
    }
}
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! EMAIL DESIGN END !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
